<!-- Create Modal -->
<div class="modal fade" id="cb-create-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<form id="cb-create-form" data-request="{{__SELF__}}::onCreate" data-request-success="$('#cb-create-modal').modal('hide'); ">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close icon-remove" data-dismiss="modal" aria-label="Close" data-dismiss="alert" type="button"></button>
					<h3>Add Contact</h3>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="first_name">First Name: <span class="error first_name"></span></label>
									<input name="first_name" class="form-control" type="text" placeholder="First Name">
								</div>
								<div class="form-group">
									<label for="last_name">Last Name: <span class="error last_name"></span></label>
									<input name="last_name" class="form-control" type="text" placeholder="Last Name">
								</div>
								<div class="form-group">
									<label for="email">Email: <span class="error email"></span></label>
									<input name="email" class="form-control" type="text" placeholder="Email">
								</div>
								<div class="form-group">
									<label for="street_address">Street Address: <span class="error street_address"></span></label>
									<input name="street_address" class="form-control" type="text" placeholder="123 Main St.">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="city">City: <span class="error city"></span></label>
									<input name="city" class="form-control" type="text" placeholder="Denver">
								</div>
								<div class="form-group">
									<label for="state">State: <span class="error state"></span></label>
									<input name="state" class="form-control" type="text" placeholder="Colorado" >
								</div>
								<div class="form-group">
									<label for="zip">Zip: <span class="error zip"></span></label>
									<input name="zip" class="form-control" type="text" placeholder="80352" >
								</div>
								<div class="form-group">
									<label for="phone">Phone: <span class="error phone"></span></label>
									<input name="phone" class="form-control" type="text" placeholder="(555) 555-5555 x5555" >
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="form-controls">
						<input type="submit" name="submit" class="btn btn-success" value="Create">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>