<!-- Modal -->
<div class="modal fade" id="cb-modal-edit" tabindex="-1" role="dialog" aria-labelledby="profile-wizard-modal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<form id="cb-form-edit" data-request="{{__SELF__}}::onEditSave" data-request-success="$('#cb-modal-edit').modal('hide'); ">
			<div class="modal-content">
				<div class="modal-header">
					<button class="close icon-remove" data-dismiss="modal" aria-label="Close" data-dismiss="alert" type="button"></button>
					<h3>Edit Contact: {{ contact.id }}</h3>
				</div>
				<div class="modal-body" id="profile-wizard-modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="first_name">First Name: <span class="error first_name"></span></label>
									<input name="first_name" class="form-control" type="text" value="{{ contact.first_name }}">
								</div>
								<div class="form-group">
									<label for="last_name">Last Name: <span class="error last_name"></span></label>
									<input name="last_name" class="form-control" type="text" value="{{ contact.last_name }}">
								</div>
								<div class="form-group">
									<label for="email">Email: <span class="error email"></span></label>
									<input name="email" class="form-control" type="text" value="{{ contact.email }}">
								</div>
								<div class="form-group">
									<label for="street_address">Street Address: <span class="error street_address"></span></label>
									<input name="street_address" class="form-control" type="text" value="{{ contact.street_address }}">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="city">City: <span class="error city"></span></label>
									<input name="city" class="form-control" type="text" value="{{ contact.city }}">
								</div>
								<div class="form-group">
									<label for="state">State: <span class="error state"></span></label>
									<input name="state" class="form-control" type="text" value="{{ contact.state }}">
								</div>
								<div class="form-group">
									<label for="zip">Zip: <span class="error zip"></span></label>
									<input name="zip" class="form-control" type="text" value="{{ contact.zip }}">
								</div>
								<div class="form-group">
									<label for="phone">Phone: <span class="error phone"></span></label>
									<input name="phone" class="form-control" type="text" value="{{ contact.phone }}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="form-controls">
						<input type="hidden" name="contact_id" value="{{ contact.id }}" >
						<input type="submit" name="submit" class="btn btn-success" value="Save">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>